<div class="container py-5">
    <div class="row">
        <div class="card" style="width: 30rem;">
            <div class="card-header">
                <h3>Email configurations</h3>
            </div>
            <div class="card-body">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-12">
                        <label for="host" class="form-label">Host</label>
                        <input type="text" class="form-control" id="host" required>
                        <div class="valid-feedback">
                            Host is required
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="port" class="form-label">Port</label>
                        <input type="text" class="form-control" id="port" required>
                        <div class="valid-feedback">
                            Port is required
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" required>
                        <div class="valid-feedback">
                            Username is required
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password" required>
                        <div class="valid-feedback">
                            Password is required
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="methode" class="form-label">Method (Optional)</label>
                        <select class="form-select" id="methode" required>
                            <option selected disabled value="">Choose...</option>
                            <option>TLS</option>
                            <option>SSH</option>
                        </select>
                        <div class="valid-feedback">
                            Method is required
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
