<div class="container py-5">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div *ngFor="let control of workflow?.inscription?.controls" class="mb-3">
                <label>{{ control.label }}</label>
                <input class="form-control" *ngIf="['text','password','email','number','search','tel','url'].includes(control.type)"
                       [type]="control.type"
                       [formControlName]="control.name"
                       [value]="control.value" />

                <textarea class="form-control" *ngIf="control.type === 'textarea'" [formControlName]="control.name" [value]="control.value"></textarea>
            </div>
            <input type="submit" />
    </form>


<!--    <div class="row" cdkDropListGroup>-->
<!--        <div class="column">-->
<!--            <div class="questionaire-column">-->
<!--                Tools-->
<!--                <div cdkDropList [cdkDropListData]="toolsElements" class="example-list" (cdkDropListDropped)="drop($event)">-->
<!--                    <div cdkDrag *ngFor="let tool of toolsElements" style="cursor: move">-->
<!--                        {{ tool }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="double-column">-->
<!--            <div class="questionaire-column">-->
<!--                Workflow-->
<!--                <div class="example-container">-->
<!--                    <div cdkDropList [cdkDropListData]="workflowElements" class="example-list" (cdkDropListDropped)="drop($event)">-->
<!--                        <div class="form-control-selected-tool" *ngFor="let item of workflowElements" cdkDrag>-->
<!--                            {{ item }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
